* {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    color: white;

    /* Most of this CSS reset is pretty standard, however the two extra parts I've added makes things a bit easier in the long run. This is the font size and color. 
    The color is just so that the automatic text is just white, because given the background, white is easier to see than black.
    Then with the font size, this is set here so that if I want to use the [em] attribute for sizing things, it's predefined in this step. Plus, also makes it easier when defining high big headings should be. */
}

main{
    height: 177vh; /* This is to have the dimensions similar to the reference image */
    background-color: #262526;
    padding: 20px; /* All of the intern content on the reference wasn't on the edge, so the margin here will easily allow me to not worry about having to do that later */
}

section{

    /* This is all of the content related to establishing the flex, and the section here is essintially the flex container. */
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    min-width: 0; /* I had some issues before adding this in, and after searching the web, this seemed to fix it? Could also just be an issue on my machine locally too */

    background-color: #262526;
    width: 100%;
}

/* The only difference between the up and down classes is where the margin (top v bottom). Other than that, it's just some simple flex items to have them all be even */

.up {
    background-color: #525052;
    flex-grow: 1;
    text-align: center;
    margin-top: 10%;
    border-radius: 1em;
}

.down {
    background-color: #3c3a3c;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 10%;
    border-radius: 1em;
}

/* The hero is the main item, the big item. But at the end of the day, it's just one box, but because it's part of the enter flex package, no more adjustments really need to be made to the sizing other than grow! */

.hero{
    background-color: #525052;
    flex-grow: 1;
    text-align: center;
}