* {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    color: white;
}

main{
    height: 177vh;
    background-color: #262526;
    padding: 20px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    min-width: 0;

    background-color: #262526;
    width: 100%;
}

.up {
    background-color: #525052;
    flex-grow: 1;
    text-align: center;
    margin-top: 10%;
    border-radius: 1em;
}

.down {
    background-color: #3c3a3c;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 10%;
    border-radius: 1em;
}

.hero{
    background-color: #525052;
    flex-grow: 1;
    text-align: center;
}