/* FONTS

LIGHT

font-family: "new-order", sans-serif;
font-weight: 300;
font-style: normal;

REGULAR

font-family: "new-order", sans-serif;
font-weight: 400;
font-style: normal;

MEDIUM

font-family: "new-order", sans-serif;
font-weight: 500;
font-style: normal;


SEMIBOLD

font-family: "new-order", sans-serif;
font-weight: 600;
font-style: normal;

BOLD

font-family: "new-order", sans-serif;
font-weight: 700;
font-style: normal; 

*/

 *{
    font-family: "new-order", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
 }

 h1{
    font-family: "new-order", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 2em;
 }

 h2{
    font-family: "new-order", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
 }

 header{
   width: 100vw;
   background-color: red;
 }

section{
   width: 35vw;
   height: 400px;
   border-radius: 2vh;
   background-color: blue;
   float: left;
   margin-left: 2.5vw;
   margin-right: 2.5vw;
   margin-top: 4vw;
   margin-bottom: 4vw;
   padding: 2.5vh;
}


@media only screen and (max-width: 800px) {
   section{
      width: 80vw;
   }
}