*{
    box-sizing: border-box;
    background-origin: border-box;
    margin: 0;
    overflow: hidden;
}

main {
    position: absolute;
    padding: 2vw;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10%;

    background-image: linear-gradient(to bottom right, #686FAB, #EFCCFF);
    width: 100vw;
    height: 100vh;
    
    text-align: center;
    color: white;
    font-family: grenadine-mvb, sans-serif;
    font-style: normal;
    font-weight: 300;
}

#Back{
    width: 5vw;
    height: 5vw;
    padding: 0.5vw;
    fill: white;
    position: absolute;
    top: 2vw;
    left: 2vw;
    display: none;
}

#Back:hover{
    cursor: pointer;
}

.house{
    width: 4vw;
    filter: invert(1);
}

.house:hover {
    filter: none;
}

header{
    flex-grow: 2;
    width: 100%;
    /* background-image: linear-gradient(to bottom right, #686FAB, #EFCCFF); */
    height: 15%;

    display: flex;
    align-items: center;

    font-size: 40px;
    font-weight: 500;
    border-radius: 10px;
}

section{
    flex-grow: 1;
    width: 30%;
    height: 25%;
    border-radius: 10px;

    display: flex;
    align-items: center;

    font-size: 30px;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: rgb(167, 167, 167);
}

section:hover{
    width: 40%;
    height: 30%;
    cursor: pointer;
}

#Happy{
    display: flex;
    background: url("/a3/img/happy.png");
    background-size: 100vw;
}

#Creative{
    display: flex;
    background: url("/a3/img/creative.png");
    background-size: 100vw;
}

#Passionate{
    display: flex;
    background: url("/a3/img/passion.png");
    background-size: 100vw;
}

#Melancholic{
    display: flex;
    background: url("/a3/img/sad.png");
    background-size: 100vw;
}

span{
    width: 100%;
}