/* z-index order */

/*
FONTS 

font-family: "elza", sans-serif;
font-weight: 400;
font-style: normal;

Weights
300, 400, 500, 600, 700, 900

Change font-style to italics

*/

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
  overflow-x: hidden;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --teal-50: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal-800: #115e59;
  --teal-900: #134e4a;
  --teal-950: #042f2e;
  
  --border: 1px solid #b6e878;
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--teal-950);
  color: white;
  padding: 2vw;

  font-family: "elza", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--teal-300);
  text-decoration: none;
}

a:visited a:active a:hover{
  color: inherit;
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

/*
  i've set up a basic flexbox for each recipe container - you might want to change some of the 
  flex properties here on the container or on the individual flex items depending on how you want to style them
*/

main{
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.RecipeBox{
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 1em;

  width: 600px;
}

.FilterSection{

}

.FilterBox{

}

.FilterButton{

}

.SelectedFilter{
  
}

.RecipeLink{

    background-color: var(--teal-600);
    color: white;
    height: 2em;
    width: fit-content;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    margin-top: 0.5em;
}

.RecipeLink:hover {
  background-color: var(--teal-500);
  color: white;
}

.RecipeName{

  font-weight: 700;
  font-size: 1.5em;

}

.link{
  color: white;
  font-weight: 500;
}

.Author{
  margin-top: 0.5em;
}

.RecipeImageContainer{

  width: 20%;

}

.RecipeImg{

  width: 100%;

}

.Attribution{

}

.Publisher{
  margin-top: 0.5em;
}

.Cuisine{
  margin-top: 0.5em;
}

.TimeToCook{
  margin-top: 0.5em;
}

.SkillLevel{
  margin-top: 0.5em;
}

.Course{
  margin-top: 0.5em;
}

.Servings{
  margin-top: 0.5em;
}

.Dietary{
  margin-top: 0.5em;
}

.DatePublished{
  margin-top: 0.5em;
}

.DateUpdated{
  margin-top: 0.5em;
}

.SpecialEquipment{
  margin-top: 0.5em;
}

/* 

FONTS 

font-family: "elza", sans-serif;
font-weight: 400;
font-style: normal;

Weights
300, 400, 500, 600, 700, 900

Change font-style to italics

*/